streamlit==1.32.2
pandas==2.0.3
openpyxl==3.1.2
altair==5.5.0
pydeck==0.9.1
requests==2.32.4
jsonschema==4.24.0
xlsxwriter==3.0.2
pyarrow==20.0.0
protobuf==4.25.8
tornado==6.5.1
watchdog==6.0.0
tenacity==8.5.0
toml==0.10.2
tzdata==2025.2
typing-extensions==4.14.0
certifi==2025.6.15
charset_normalizer==3.4.2
gitdb==4.0.12
gitpython==3.1.44
blinker==1.9.0
attrs==25.3.0
